.main-container{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.main-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
}

.main-block h4{
    color: #181B1A;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
}

.main-head button{
    background: none;
    border: none;
    color: #DFDFE3;
    font-size: 32px;
    font-weight: 500;
}

.main-head{
    display: flex;
    justify-content: space-between;
}

.main-cources-card {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-repeat: no-repeat;
    max-width: 376px;
    background-size: cover;
    border-radius: 48px;
}

.cources-card-top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cources-autor{
    display: flex;
    align-items: center;
}

.person{
    height: 43.82px;
    width: 43.82px;
}

.about-person p{
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: white;
    padding: 9px 0 2px 20px;
}

.about-person a{
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: white;
    padding: 0 0 0 20px;
}

.cources-card-top button{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: white;
    background-color: #FB6D3A;
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
}

.cources-card-bottom{
    padding: 17px 20px;
    border-radius: 24px;
    background: rgba(60, 17, 134, 0.3);
    backdrop-filter: blur(36px);
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    margin-top: 20px;
}

.main-lessons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-lessons button {
    width: 56px;
    height: 56px;
    color: #181b1a;
    background-color:  none;
    border: none;    
    border-radius: 16px;
    background-color: #f6f6f6;
}

.main-lessons .card-lesson {
    padding: 62px 12px 6px 12px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
}

.card-1 {
    background-image: url('./../assets/images/live-lessons-back/1.png');
}

.card-2 {
    background-image: url('./../assets/images/live-lessons-back/2.png');
}

.card-3{
    background-image: url('./../assets/images/live-lessons-back/3.png');
}

.card-4{
    background-image: url('./../assets/images/live-lessons-back/4.png');
}

.card-5{
    background-image: url('./../assets/images/live-lessons-back/5.png');
}

.card-6{
    background-image: url('./../assets/images/live-lessons-back/6.png');
}

.card-7{
    background-image: url('./../assets/images/live-lessons-back/7.png');
}

.card1 {
    background-image: url('./../assets/images/cources-back/back1.png');
    margin-bottom: 20px;
}

.card2 {
    background-image: url('./../assets/images/cources-back/back2.png');
}

.cources-autor .person1{
    background-image: url('./../assets/images/cources-autors/Ellipse\ 8.png');
}

.cources-autor .person2{
    background-image: url('./../assets/images/cources-autors/Ellipse\ 8\(1\).png');
}

@media screen and (min-width: 840px){
    .about-person p {
        font-size: 18px;
    }

    .about-person a{
        font-size: 14px;
    }

    .card {
        padding: 28px 36px 36px 28px;
        max-width: 376px;
        background-size: inherit;
        padding: 28px 36px 36px 28px;
    }

    .cources-card-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }

    .cources-card-bottom{
        margin-top: 179px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1270px) {
    /* .main-container{
        padding: 43px;
    } */

    .card1{
        margin-bottom: 0;
    }

    .main-cources-card {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }
}