@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h2{
    font-weight: 700;
    font-size: 32px;
}

input[type=password]{
    margin: 0;
}